<!DOCTYPE html PUBLIC "-//IETF//DTD HTML//EN">
<html>
<head>
</head>
<body>
<h2>Errata by page number:</h2>
<hr>
<li> p. 9, line 8:
  <h4>Eruptions of the "Old Faithful" geyser</h4>
Replace "previous intereruption time" with "next intereruption time."
  <hr>
  <h4>The flight of the space shuttle Challenger</h4>
</li>
<li> p. 33, line 6:
The launch date for the Challenger was January 28, 1986, not January
20, 1986. </li>
<li> p. 34:
As is pointed out in Chapter 2 of the book <i>Visual Explanations:
Images
and Quantities, Evidence and Narrative</i>, by Edward R. Tufte, the
table
and scatter plot were not actually constructed on the night of January
27, 1986, but were rather given later by two Morton Thiokol staff
members
as an example of the reasoning used in the pre-launch debate. The
actual
charts faxed from Morton Thiokol to NASA that night were considerably
less
informative than even these seriously flawed presentations.
  <hr></li>
<li>pp. 145-152:
  <h4>Emergency calls to the New York Auto Club</h4>
There was an error in recording the forecast low temperatures in the
original data set, resulting in an incorrect analysis. The correct data
set can be obtained in fixed format ASCII form&nbsp;<a
 href="http://www.stern.nyu.edu/%7Ejsimonof/Casebook/Errata/ersRev.dat">here</a>.
A corrected version of the case is available in pdf format&nbsp;<a
 href="http://www.stern.nyu.edu/%7Ejsimonof/Casebook/Errata/ers1caseRev.pdf">here</a>.
  <hr></li>
<li>p. 190a, line 2 (Annotated Edition only): </li>
<h4>The pattern in employment rates over time</h4>
Replace "since the initial value for 1971 is below the
regression line" with "since the final value for 1990 is
much further above the regression line than is the initial
value for 1971".
<hr><li>p. 225, line 11 (in the first printing only):
  <h4>Prediction of the time interval between 'Old Faithful' eruptions</h4>
The Durbin-Watson statistic that accounts for the non-consecutive
nature of the data is 2.46, rather than 2.50.
  <hr></li>
<li>p. 233a (Annotated Edition only):
  <h4>Another look at emergency calls to the New York Auto Club</h4>
The correction to the data set associated with this case results in
changes to the results related to this case discussed in the Annotated
Edition. A corrected version of the case is available in pdf
format&nbsp;<a
 href="http://www.stern.nyu.edu/%7Ejsimonof/Casebook/Errata/ers2caseRev.pdf">here</a>.</li>
<br>
<hr><li> p. 288, IMPORTANT: data file:
  <h4>The Central Limit Theorem for census data</h4>
The last variable on the data disk for <a
 href="../Data/ASCII/census3.dat"> census3.dat</a> is
incorrect. A corrected version can be obtained by clicking <a
 href="../Data/ASCII/census3.dat"> here.</a>
The <a href="../Data/Statistix4.0/census3.sx"> Statistix 4.0</a>
version, <a href="../Data/Minitab/census3.MTP"> Minitab</a>
version and <a href="../Data/S/census3.src"> S</a>
version are also now correct.
The discussion given in the case uses the correct variable and is
correct, only the data disk has the wrong variable.
If you downloaded the data from this site before October 19, 1995,
please download the corrected file.
  <hr></li>
<li> p. 296, description of the data file:
  <h4>Eruptions of the `Old Faithful' geyser</h4>
The indices for the first variable in the description of the data file
"geyser1.dat" should be 1 through 8 and 16 through 23. The correct
entry is:
  <pre>(1) An index of the date the observation was taken (1 through<br>8 and 16 through 23). This appears in geyser1.dat only.<br></pre>
  <hr></li>
<li> p. 298, incomplete entry for one observation in the data file:
  <h4>Incomes of Long Island communities</h4>
The entry for the COMMUNITY variable for row number 239 is incomplete;
the
complete name is "Village of the Branch" (the word "Village" was
omitted).
  <hr></li>
<li> p. 302, description of the data file:
  <h4>Predicting the sales and airplay of popular music</h4>
The names for variables 8 and 9 in the description of the data file
"rock.dat" have been swapped. The correct order is:
  <pre>(8) Change in airplay ranking from last week.<br>(9) Change in sales ranking from last week.<br></pre>
  <hr></li>
</body>
</html>
